@import '../../index.scss';

.container {
  max-width: 350px;
  background-color: var(--very-dark-magenta);
  padding: 40px 32px 32px 32px;
  border-radius: 8px;

  .user {
    margin-bottom: 31px;
    display: flex;
    align-items: center;
    .image {
      margin-right: 23px;
      img {
        border-radius: 50%;
        width: 40px;
      }
    }
  }

  .name {
    color: var(--white);
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
  }

  .buyer {
    color: var(--soft-pink);
    font-weight: 400;
    font-size: #{calculateRems(17)};
    line-height: 16px;
    margin-top: 4px;
  }

  .review {
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.303571px;
    color: var(--white);
  }

  &:nth-child(2) {
    transform: translateY(16px);
  }

  &:nth-child(3) {
    transform: translateY(32px);
  }
}
